@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    color-scheme: dark;
    font-family: Inter, system-ui, sans-serif;
}

html,
body {
    min-height: 100%;
}

body {
    margin: 0;
    background: #020617;
}

* {
    box-sizing: border-box;
}
